// main colors
$color-01A: #1F5AA6;
$color-02A: #1F67A6;
$color-03A: #9FB0BF;
$color-04A: #012E40;
$color-05A: #F2F2F2;

// sub colors
$color-01B: #1b4e90;
$color-02B: #1a578c;
$color-03B: #8e9dab;
$color-04B: #002635;
$color-05B: #dddbdb;