@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@700&display=swap");
* {
  background: #F2F2F2;
  padding: 0;
  margin: 0;
}px;
  }
}

#footer-aboutpage {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#division-footer-aboutpage {
  width: 95%;
  height: 3px;
  border: none;
  border-radius: 5px;
  margin: 0;
  padding: 0;
}

#copy-text-aboutpage {
  background: none;
  margin-top: 15px;
}

#header-contactpage {
  width: 100%;
  height: 60px;
}

#main-contactpage {
  width: 100%;
  height: 2500px;
}
@media (max-width: 2041px) {
  #main-contactpage {
    height: 1500px;
  }
}
@media (max-width: 1361px) {
  #main-contactpage {
    height: 1000px;
  }
}

#footer-contactpage {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#division-footer-contactpage {
  width: 95%;
  height: 3px;
  border: none;
  border-radius: 5px;
  margin: 0;
  padding: 0;
}

#copy-text-contactpage {
  background: none;
  margin-top: 15px;
}

#header-homepage {
  width: 100%;
  height: 60px;
}

#main-homepage {
  width: 100%;
  height: 2500px;
}
@media (max-width: 2041px) {
  #main-homepage {
    height: 1500px;
  }
}
@media (max-width: 1361px) {
  #main-homepage {
    height: 1000px;
  }
}

#footer-homepage {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#division-footer-homepage {
  width: 95%;
  height: 3px;
  border: none;
  border-radius: 5px;
  margin: 0;
  padding: 0;
}

#copy-text-homepage {
  background: none;
  margin-top: 15px;
}