@page "/About"
@rendermode InteractiveServer

<header id="header-aboutpage">
    <nav id="navbarlayout">
        <div id="navbarlayout-left">
            <div id="navbarlayout-current-page">
                <div id="navbarlayout-current-page-text">About</div>
            </div>
        </div>
        <div id="navbarlayout-right">
            <a class="navbarlayout-container-items" href="/contact">
                <div class="navbarlayout-item">Contact</div>
                <div class="navbar-hover-circle">

                </div>
            </a>
            <a class="navbarlayout-container-items" href="/">
                <div class="navbarlayout-item">Home</div>
                <div class="navbar-hover-circle">

                </div>
            </a>
        </div>
    </nav>
</header>
<main id="main-aboutpage">

</main>
<footer id="footer-aboutpage">

</footer>

@code {

}
