@page "/Contact"
@inject IJSRuntime JSRuntime
@rendermode InteractiveServer


<header id="header-contactpage">
    <!-- Navbar Layout -->
    <nav id="navbarlayout">
        <div id="navbarlayout-left">
            <div id="navbarlayout-current-page">
                <div id="navbarlayout-current-page-text">Contact</div>
            </div>
        </div>
        <div id="navbarlayout-right">
            
            <a class="navbarlayout-container-items" href="/about">
                <div class="navbarlayout-item">About</div>
                <div class="navbar-hover-circle">

                </div>
            </a>
            <a class="navbarlayout-container-items" href="/">
                <div class="navbarlayout-item">Home</div>
                <div class="navbar-hover-circle">

                </div>
            </a>
        </div>
    </nav>
    <!-- Navbar Layout -->
</header>
<main id="main-contactpage">
    
</main>
<footer id="footer-contactpage">
    <hr id="division-footer-contactpage">
    <p id="copy-text-contactpage">&copy; 2023 XYZCorp. Todos os direitos reservados.</p>
</footer>

@code {

}
