@page "/"
@rendermode InteractiveServer

<header id="header-homepage">
    <nav id="navbarlayout">
        <div id="navbarlayout-left">
            <div id="navbarlayout-current-page">
                <div id="navbarlayout-current-page-text">Home</div>
            </div>
        </div>
        <div id="navbarlayout-right">
            <a class="navbarlayout-container-items" href="/contact">
                <div class="navbarlayout-item">Contact</div>
                <div class="navbar-hover-circle">

                </div>
            </a>
            
            <a class="navbarlayout-container-items" href="/about">
                <div class="navbarlayout-item">About</div>
                <div class="navbar-hover-circle">

                </div>
            </a>
        </div>
    </nav>
</header>
<main id="main-homepage">

</main>
<footer>

</footer>

@code {

}