#header-aboutpage {

    width: 100%;
    height: 60px;
}

#main-aboutpage {

    width: 100%;
    height: 2500px;
    @media(max-width: 2041px) {
        height: 1500px;
    }
    @media(max-width: 1361px) {
        height: 1000px;
    }
    
}

#footer-aboutpage {
    // background: rgba($color-03B, 0.2);
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#division-footer-aboutpage {
    width: 95%;
    height: 3px;
    border: none;
    border-radius: 5px;
    margin: 0;
    
    padding: 0;
}

#copy-text-aboutpage {
    background: none;
    margin-top: 15px;
}